@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    display: none;
    background: $backgroundColor ;

}
#bgExit{
    position:absolute;
    width: $width;
    height: $height;
    border: 1px solid black;
}